@font-face{
    font-family: proxima-bold;
    src: url('./../fonts/FontsFree-Net-Proxima-Nova-Bold.otf');
}
html{
    scroll-behavior: smooth;
}
*{
    font-family: proxima-bold;
    margin: 0;
    font-size: 20px;
    padding: 0;
}
nav{
    z-index: 99;
    text-shadow: 3px 4px 9px rgba(30,30,30,0.54);
    padding-left: 3%;
    position: fixed;
    top: 0px;
    background-image: url('./../img/mainbg.jpg');
    background-size: cover;
    padding-right: 50px;
}
header{
    overflow: hidden;
    background: fixed;
    padding-top: 100px;
    text-shadow: 3px 4px 9px rgba(47,49,51,0.54);
    background-image: url('./../img/mainbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
}
header h1{
    font-size: 10vw;
}
.main-h{
    height: 300px;
}
.container-2{
    background-image: url('./../img/mainbg.jpg');
    background-size: cover;
}
.sidenav{
    background-image: url('./../img/mainbg.jpg');
    background-size: cover;
}
main{
    flex: 1 0 auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav{
    width: 100%;
}
header{
    width: 100%;
}
footer{
    overflow: hidden;
    width: 100%;
}
.whoisme{
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon-small{
    height: 60px;
    width: 60px;
}
.icon-big{
    height: 90px;
    width: 90px;
}
.ic-padded{
    margin-top: 100px;
}
.in-container{
    margin-left: 22px;
    margin-right: 22px;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.text{
    color: white;
    padding-top: 75px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 75px;
    mix-blend-mode: multiply;
    background:#111111;
}
main{
    margin-top: -100px;
}
.center{
    border-radius: 3pt;
}
.section-1, .section-2{
    margin-bottom: 50px;
}
.section-2 .container{
    background-image: url('./../img/archive-header_v3.png');
    background-size: cover;
    text-shadow: 1px 1px 2px rgba(30,30,30,0.54);
}